.sub-gallery{
  display: flex;

  .thumb, h4{
    width: 25%;
    margin: 0;
    padding: 30px;
  }

  h4{
    text-transform: uppercase;
    font-family: var(--ff-title-primary);
    font-size: var(--fz-h4);
    line-height: var(--lh-extra-thin);
    align-self: center;
    span{
      font-family: var(--ff-title-secondary);
      text-transform: none;
      display: block;
    }
  }

  .thumb img{
    height: 100%;
    object-fit: cover;
  }
}